<svg version="1.1" id="hamburger" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 37 27" style="enable-background:new 0 0 37 27;" xml:space="preserve">
<g>
  <defs>
    <rect id="SVGID_1_" y="0" width="37" height="27"/>
  </defs>
  <clipPath id="SVGID_2_">
    <use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
  </clipPath>
  <g id="Wiederholungsraster_3" class="st2">
    <g transform="translate(-1192 -23)">
      <path id="Rechteck_4" class="st3" d="M1194,23h30c1.1,0,2,0.9,2,2l0,0c0,1.1-0.9,2-2,2h-30c-1.1,0-2-0.9-2-2l0,0
        C1192,23.9,1192.9,23,1194,23z"/>
    </g>
    <g transform="translate(-1192 -13)">
      <path id="Rechteck_4-2" class="st3" d="M1194,23h30c1.1,0,2,0.9,2,2l0,0c0,1.1-0.9,2-2,2h-30c-1.1,0-2-0.9-2-2l0,0
        C1192,23.9,1192.9,23,1194,23z"/>
    </g>
    <g transform="translate(-1192 -3)">
      <path id="Rechteck_4-3" class="st3" d="M1194,23h30c1.1,0,2,0.9,2,2l0,0c0,1.1-0.9,2-2,2h-30c-1.1,0-2-0.9-2-2l0,0
        C1192,23.9,1192.9,23,1194,23z"/>
    </g>
  </g>
</g>
</svg>
