{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Linh Schröter</title>
  <!-- Device Fix -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto:300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static "css/linh.css" %}" type="text/css" media="screen">

  {% include "favicon.html" %}

</head>
<body>
  <nav id="linh-Nav" class="overlay" onclick="closeNav()">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
      <img src="media/graphic/crossburger.png" alt="">
    </a>
    <div class="overlay-content">
      <a href="{% url 'portfolio_view' %}">Stories</a>
      <a href="{% url 'faq_view' %}">FAQ</a>
      <a href="{% url 'contact_view' %}">Contact</a>
      <a href="{% url 'special_view' %}">Links</a>
      <a href="{% url 'site_notice_view' %}">Site Notice</a>
    </div>
  </nav>

  <main class="linh-page-container">
    <a class="grid-linh logo" href="{% url 'portfolio_view' %}">
      {% include "svg/logo.html" %}
    </a>
    <nav class="grid-linh item2"></nav>
    <div class="grid-linh item3">
      <a id="linh-nav-open"class="openbtn" onclick="openNav()">
        {% include "svg/hamburger.html" %}
      </a>
    </div>
    <section class="grid-linh item4">
      <div class="about-container">
        <aside class="about-photo">
          <img src="media/graphic/Linh_biography_pic.jpg" alt="">
        </aside>
        <div class="about-text">
          <h1>About</h1>
          <p>My name is Linh Schröter, I am a day dreaming girl and a huge fan of „The Chronicles of Narnia“. Therefore, I really like going to forests, where I can find animals and practice my wildlife photography. By doing so, someday, I hope I will enter the Narnia world.</p>
          <p>For as long as I can remember, I have always seen everyday life as some sort of a fairytale. Hence, my love for photography is a gift to capture those events as a glimpse into my or even your own fairytale.</p>
          <p>It does not matter who you are, where you are from, which body type you have, etc. you are amazing!! Moreover, I would be honored to be the one behind the camera helping you capture your best moments and creating your beautiful stories. From weddings to portraits or even everyday life style events, you name it.</p>
          <p>So, would you let me be the „author“ of your story?! :)</p>
        </div>
      </div>
    </section>
    <footer class="grid-linh item5">
    </footer>
  </main>


</body>
<script>
function openNav() {
  document.getElementById("linh-Nav").style.display = "block";
  document.getElementById("linh-nav-open").style.visibility = "hidden";
}

function closeNav() {
  document.getElementById("linh-Nav").style.display = "none";
  document.getElementById("linh-nav-open").style.visibility = "visible";
}
</script>
</html>
