{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Linh Schröter</title>
  <!-- Device Fix -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto:300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static "css/linh.css" %}" type="text/css" media="screen">

  {% include "favicon.html" %}

  <style media="screen">
    .item4{
      margin: 0;
    }
    .item4 > img:hover{
      filter:none;
      cursor:default;
      transform:none;
    }
  </style>
</head>
<body>
  <nav id="linh-Nav" class="overlay" onclick="closeNav()">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
      <img src="media/graphic/crossburger.png" alt="">
    </a>
    <div class="overlay-content">
      <a href="{% url 'portfolio_view' %}">Stories</a>
      <a href="{% url 'about_view' %}">About</a>
      <a href="{% url 'faq_view' %}">FAQ</a>
      <a href="{% url 'special_view' %}">Links</a>
      <a href="{% url 'site_notice_view' %}">Site Notice</a>
    </div>
  </nav>

  <main class="linh-page-container">
    <a class="grid-linh logo" href="{% url 'portfolio_view' %}">
      {% include "svg/logo.html" %}
    </a>
    <nav class="grid-linh item2"></nav>
    <div class="grid-linh item3">
      <a id="linh-nav-open"class="openbtn" onclick="openNav()">
      {% include "svg/hamburger.html" %}
      </a>
    </div>
    <section class="grid-linh item4 contact-container">
      <h1>Contact</h1>
      <h2><a href="mailto:info@linhschroeter.com">info@linhschroeter.com</a></h2>
      <h2>+43 677 612 679 94‬</h2>
      <img src="media/contact/Linh_Introducing text_pic.jpg" alt="" style="border-radius: 20px;">
    </section>
    <footer class="grid-linh item5">
    </footer>
    </main>


  </body>
  <script>
  function openNav() {
    document.getElementById("linh-Nav").style.display = "block";
    document.getElementById("linh-nav-open").style.visibility = "hidden";
  }

  function closeNav() {
    document.getElementById("linh-Nav").style.display = "none";
    document.getElementById("linh-nav-open").style.visibility = "visible";
  }
</script>
</html>
