{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Linh Schröter</title>
  <!-- Device Fix -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static "css/linh.css" %}" type="text/css" media="screen">

  <!-- icons -->
  <link rel="icon" href="{% static "favicon/favicon.ico" %}"/>
  <link rel="apple-touch-icon" sizes="57x57" href="{% static "favicon/apple-icon-57x57.png" %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static "favicon/apple-icon-60x60.png" %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static "favicon/apple-icon-72x72.png" %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static "favicon/apple-icon-76x76.png" %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static "favicon/apple-icon114x114.png" %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static "favicon/apple-icon-120x120.png" %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static "favicon/apple-icon-144x144.png" %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static "favicon/apple-icon-152x152.png" %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-icon-180x180.png" %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static "favicon/android-icon-192x192.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static "favicon/favicon-96x96.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
  <meta name="msapplication-TileImage" content="{% static "favicon/ms-icon-144x144.png" %}">

  <!-- Social Media Meta --->
  <meta property="og:title" content="Linh Schröter Photography">
  <meta property="og:description" content="Portfolio page of Linh Schröter. Passionate photographer.">
  <meta property="og:image" content="media/thumbnails/facebook/linh_home.png">
  <meta property="og:url" content="http://linhschroeter.com/">

  <meta name="twitter:title" content="Linh Schröter Photography">
  <meta name="twitter:description" content="Portfolio page of Linh Schröter. Passionate photographer.">
  <meta name="twitter:image" content="media/thumbnails/twitter/linh_home.png">
  <meta name="twitter:card" content="summary_large_image">

</head>
<body>
  <nav id="linh-Nav" class="overlay" onclick="closeNav()">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
      <img src="media/graphic/crossburger.png" alt="">
    </a>
    <div class="overlay-content">
      <a href="{% url 'about_view' %}">About</a>
      <a href="{% url 'contact_view' %}">Contact</a>
      <a href="{% url 'site_notice_view' %}">Site Notice</a>
    </div>
  </nav>

  <main class="linh-page-container">
    <a class="grid-linh logo" href="{% url 'portfolio_view' %}">
      <img src="media/graphic/logo_linh.png" alt="">
    </a>
    <nav class="grid-linh item2">
      {% for category in category %}
      {% if category.id == category_id %}
      <a class="active" href="?category={{category.id}}">{{category}}</a>
      {% else %}
      <a href="?category={{category.id}}">{{category}}</a>
      {% endif %}
      {% endfor %}
    </nav>
    <div class="grid-linh item3">
      <a id="linh-nav-open"class="openbtn" onclick="openNav()">
        <img src="media/graphic/hamburger.png" alt=""
        onmouseover="this.src='media/graphic/hamburger_cropped.png'"
        onmouseout="this.src='media/graphic/hamburger.png'">
      </a>
    </div>
    <section class="grid-linh item4">
      {% for photo in photos %}
      {% if photo.images.height <= photo.images.width %}
      <img onclick="showImg({{photo.id}})" id="{{photo.id}}" class="landscape" style=""src="{{ photo.images.url }}" alt="">
      {% else %}
      <img onclick="showImg({{photo.id}})" id="{{photo.id}}" class="portrait" style=""src="{{ photo.images.url }}" alt="">
      {% endif %}
      {% endfor %}
    </section>
    <section onclick="blockImg()" id="overlay-image-section" class="overlay image">
      <img id="overlay-show-img" src="" alt="">
      <a href="javascript:void(0)" class="closebtn" onclick="blockImg()">
        <img src="media/graphic/crossburger_img.png" alt="">
      </a>
    </section>
    <footer class="grid-linh item5">
    </footer>


  </body>
  <script>
  function showImg(id){
    src = document.getElementById(id).src
    document.getElementById("overlay-show-img").src = src
    document.getElementById("overlay-image-section").style.display = "block";
    console.log(src)
  }
  function blockImg(){
    document.getElementById("overlay-image-section").style.display = "none";
  }
  function openNav() {
    document.getElementById("linh-Nav").style.display = "block";
    document.getElementById("linh-nav-open").style.visibility = "hidden";
  }

  function closeNav() {
    document.getElementById("linh-Nav").style.display = "none";
    document.getElementById("linh-nav-open").style.visibility = "visible";
  }
</script>
</html>
