{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Linh Schröter</title>
  <!-- Device Fix -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static "css/linh.css" %}" type="text/css" media="screen">

  <!-- icons -->
  <link rel="icon" href="{% static "favicon/favicon.ico" %}"/>
  <link rel="apple-touch-icon" sizes="57x57" href="{% static "favicon/apple-icon-57x57.png" %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static "favicon/apple-icon-60x60.png" %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static "favicon/apple-icon-72x72.png" %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static "favicon/apple-icon-76x76.png" %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static "favicon/apple-icon114x114.png" %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static "favicon/apple-icon-120x120.png" %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static "favicon/apple-icon-144x144.png" %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static "favicon/apple-icon-152x152.png" %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-icon-180x180.png" %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static "favicon/android-icon-192x192.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static "favicon/favicon-96x96.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
  <meta name="msapplication-TileImage" content="{% static "favicon/ms-icon-144x144.png" %}">
  <style media="screen">
    a{
      color:#7491B0
    }
    a:hover{
      color:#214161
    }
  </style>
</head>
<body>
  <nav id="linh-Nav" class="overlay" onclick="closeNav()">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
      <img src="media/graphic/crossburger.png" alt="">
    </a>
    <div class="overlay-content">
      <a href="{% url 'portfolio_view' %}">Stories</a>
      <a href="{% url 'about_view' %}">About</a>
      <a href="{% url 'faq_view' %}">FAQ</a>
      <a href="{% url 'contact_view' %}">Contact</a>
      <a href="{% url 'site_notice_view' %}">Site Notice</a>
    </div>
  </nav>

  <main class="linh-page-container">
    <a class="grid-linh logo" href="{% url 'portfolio_view' %}">
      <img src="media/graphic/logo_linh.png" alt="">
    </a>
    <nav class="grid-linh item2"></nav>
    <div class="grid-linh item3">
      <a id="linh-nav-open"class="openbtn" onclick="openNav()">
        <img src="media/graphic/hamburger.png" alt=""
        onmouseover="this.src='media/graphic/hamburger_cropped.png'"
        onmouseout="this.src='media/graphic/hamburger.png'">
      </a>
    </div>
    <section class="grid-linh item4">
      <h1>Special Thanks To:</h1>
      <h2>Melanie Nedelko</h2>
      <p>Photography mentor, Fine Art photographer</p>
      <p><a href="https://www.melanienedelko.com" target="_blank" rel="noopener noreferrer">www.melanienedelko.com</a></p>
      <br>
      <h2>Julia Lohninger</h2>
      <p>Graphic Designer</p>
      <p><a href="https://www.facebook.com/illohstration" target="_blank" rel="noopener noreferrer">facebook.com/illohstration</a></p>
      <p><a href="https://www.instagram.com/julia_lohninger/" target="_blank" rel="noopener noreferrer">instagram.com/julia_lohninger</a></p>
      <br>
      <h2>Lukas Schönsgibl, BA</h2>
      <p>Web Designer and Developer</p>
      <p><a href="https://www.schoensgibl.com" target="_blank" rel="noopener noreferrer">www.schoensgibl.com</a></p>
      <br>
      <h2>Phillip Schröter</h2>
      <p><a href="https://phillip-schroeter.com/" target="_blank" rel="noopener noreferrer">www.phillip-schroeter.com</a></p>
      <br>
      <h2>Phillip Schröter</h2>
      <p><a href="https://phillip-schroeter.com/" target="_blank" rel="noopener noreferrer">www.phillip-schroeter.com</a></p>
      <br>
      <h2>Sascha Gruber</h2>
      <p>Texts editor</p>
      <br>
      <h2>Lai Tieu Bao-</h2>
      <p>Graphic Designer</p>
      <br>
    </section>
    <footer class="grid-linh item5">
    </footer>
  </main>


</body>
<script>
function openNav() {
  document.getElementById("linh-Nav").style.display = "block";
  document.getElementById("linh-nav-open").style.visibility = "hidden";
}

function closeNav() {
  document.getElementById("linh-Nav").style.display = "none";
  document.getElementById("linh-nav-open").style.visibility = "visible";
}
</script>
</html>
